<launch>
    <node name="gps_localization" pkg="gps_localization" type="gps_localization" output="screen">
      <param name="dx_body" value="0.5" />
      <param name="dy_body" value="0.0" />
    </node>
    <node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen" />

    <node pkg="rviz" type="rviz" name="rviz" output="screen" 
      args="-d $(find gps_localization)/rviz/gps.rviz" required="true">
    </node>

</launch>
